body {
    margin-top: 50px;
}
h3>a, h2>a {
    color: inherit;
    text-decoration: underline;
}
h3>a:hover, h2>a:hover {
    color: inherit;
}
h1 {
    //margin: 0;
}
.title{
    font-size: 55px;
    font-weight: 300;
    letter-spacing: 3px;
}

.subtitle{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1px;
}


h2 {
    //font-weight: bold;
}
p {
    letter-spacing: .5px;
}
.bg-accent {
    background-color: #90AFC5;
    border-color: #90AFC5;
}
.font-accent {
    color: #90AFC5;
}
.font-white {
    color: ghostwhite !important;
}
.main-img {
    position: fixed;
    top: 0;
    z-index: -1;
    margin: 0;
}
.top-pane {
    position: relative;
    width: 100%;
    min-height: auto;
    background: rgba(0, 0, 0, 0.5);
    color: ghostwhite;
    z-index: 1;
}
section {
    background: ghostwhite;
    color: black;
    min-width: 100%;
    min-height: auto;
}
.main {
    position: absolute top: 50% transform: translateY: (50%);
}
.b {
    //border: 1px solid green;
}

.portrait {
    border: 10px solid #90AFC5;
    max-height: 280px;
    margin: 0px auto;
    margin-top: 20px;
}
.test {
    margin: 0px auto;
    //margin-top: 20px;
}

/*.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}*/

.inline {
    display: inline;
}
.project-container {
    margin: 50px auto;
    padding: 15px;
}
.label-custom {
    background-color: #90AFC5;
    line-height: 2em;
}
.btn-custom {
    background-color: #90AFC5;
    color: ghostwhite;
    //border-color: #ccc;
    cursor: grab;
}
#contact {
    background: ghostwhite;
    min-height: auto;
}
footer {
    min-width: 100%;
    color: ghostwhite;
    background: #90AFC5;
    text-align: center;
    min-height: 60px;
    vertical-align: middle;
}
.contact-header {
    min-width: 100%;
    padding: 1px;
    margin-bottom: 25px;
    text-align: center;
    line-height: 2;
    color: ghostwhite;
    background-color: #90AFC5;
}
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(2);
}
section>a {
    color: black;
}
.social {
    text-align: right;
}
.social-row>a {
    color: ghostwhite;
}
.portfolio-desc-text {
    line-height: 1.75em;
    //letter-spacing: 1px;
}
.img-border {
    padding: 0;
    border: 4px solid #90AFC5;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #777;
}
.border-line {
    min-width: 100%;
    min-height: 10px;
    margin-bottom: 25px;
}
.bottom {
    padding-bottom: 25px;
}
.contact-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 35px;
    width: 100%;
    z-index: 2;
    background-color: #90AFC5;
	padding: 5px;
}

.font-color-white{
	color: ghostwhite;
}

.bkgrnd-clr-white{
	background-color: ghostwhite !important;
}

#desktop-show {
    display: none;
}

.head-text-align{
    text-align: center;
}



@media (min-width: 768px) {
	.desktop-hide{
		display: none;
	}

    #desktop-show{
        display: inherit;
    }

    .head-text-align {
        text-align: left;
    }

    .vcenter {
        display: flex;
        align-items: center;
    }
}

.head-row {

}
